body {
    background-color: #ebecf0;
    font-family: 'Monsterrat', sans-serif;
}

.signup {
    width: 350px;
    margin: 80px 0 0 550px;
}

h1 {
    color: #a9a9a9;
    font-weight: 300;
    font-weight: bold;
    text-align: center;
}

input {
    border: 0;
    width: 80%;
    outline: 0;
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    margin: 15px 0 0 20px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #ffffff;
    box-shadow: inset 2px 2px 5px #babecc , inset -5px -5px 10px #fff;
}

input:focus {
    box-shadow: inset 1px 2px 2px #babecc, inset -1px -1px 2px #fff;
}

button {
    outline: 0;
    width: 70%;
    padding: 15px;
    font-size: 12px;
    border-radius: 25px;
    color: #00BFFF;
    font-weight: bold;
    margin: 8px 0 0 37px;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    border: none
}

button:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.signup p{
    margin-top: 10px;
   margin-left: 80px;
   color: #a9a9a9;
}
